---
const links = [
  { href: "/", text: "Home" },
  { href: "/about", text: "About" },
  { href: "/contact", text: "Contact" },
  { href: "/blog", text: "Blog" },
	{href: "/books", text: "books"}
];
---

<nav class="bg-gray-800 p-4 flex items-center">
  <a href="/" class="text-white text-2xl font-bold">MySite</a>
  <ul class="ml-auto flex space-x-4">
    {
      links.map((link) => (
        <li>
          <a href={link.href} class="text-white hover:underline">
            {link.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
