---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import "../global.css";
interface Props {
  title: string;
  frontMatter?: {
    title: string;
  };
}
const { title, frontMatter } = Astro.props;
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={frontMatter?.title || "Content "} />
    <ClientRouter />
    <meta name="generator" content={Astro.generator} />
    <title>{title || frontMatter?.title}</title>
  </head>
  <body class="font-sans flex flex-col min-h-screen">
    <Nav />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
